In [79]:
from pandas import DataFrame
from pandas import Series
import numpy as np

<h1>Loading Data</h1>

In [86]:
# import pandas

# path=""
data= pandas.read_csv("data_2d.csv")
data= pandas.read_json("CssOutput.json")
# data= pandas.read_excel(path)

<h1>DataFrame</h1>

In [59]:
spacer="\n-----------------------------\n"
data={"Name":["Rob","Bucky","Onizuka"]
,"Age":[34,28,23]
,"Salary":[1000,5000,2]}

data=DataFrame(data)
print(data)

   Age     Name  Salary
0   34      Rob    1000
1   28    Bucky    5000
2   23  Onizuka       2

In [60]:
# data


New_frame=DataFrame(data=data, columns=["Salary","Name","Age"])
print(spacer,New_frame)
New_frame=DataFrame(data=data, columns=["Salary","Name","Nationailty","Age"])
print(spacer,New_frame)

-----------------------------
    Salary     Name  Age
0    1000      Rob   34
1    5000    Bucky   28
2       2  Onizuka   23

-----------------------------
    Salary     Name  Nationailty  Age
0    1000      Rob          NaN   34
1    5000    Bucky          NaN   28
2       2  Onizuka          NaN   23

In [61]:
#
############################################
#
print(spacer,New_frame["Salary"])
print(spacer,New_frame.iloc[2])# ix is refering to x axis

-----------------------------
 0    1000
1    5000
2       2
Name: Salary, dtype: int64

-----------------------------
 Salary               2
Name           Onizuka
Nationailty        NaN
Age                 23
Name: 2, dtype: object

In [62]:
print(New_frame)

New_frame["EDU.LVL."]="MS"
print(New_frame)
### Transposing
New_frame=New_frame.T
print(New_frame)

New_frame=New_frame.T
# New_frame.reindex([0,2,1])
#
# fields=["Alpha","Beta","Gamma"]
#
# New_frame=New_frame.reindex(columns=fields)
# drops a row
print(New_frame)

New_frame=New_frame.drop([2,0])# a list

   Salary     Name  Nationailty  Age
0    1000      Rob          NaN   34
1    5000    Bucky          NaN   28
2       2  Onizuka          NaN   23
   Salary     Name  Nationailty  Age EDU.LVL.
0    1000      Rob          NaN   34       MS
1    5000    Bucky          NaN   28       MS
2       2  Onizuka          NaN   23       MS
                0      1        2
Salary       1000   5000        2
Name          Rob  Bucky  Onizuka
Nationailty   NaN    NaN      NaN
Age            34     28       23
EDU.LVL.       MS     MS       MS
  Salary     Name Nationailty Age EDU.LVL.
0   1000      Rob         NaN  34       MS
1   5000    Bucky         NaN  28       MS
2      2  Onizuka         NaN  23       MS

In [63]:
# for droping  a col

New_frame=New_frame.drop("Nationailty",axis=1)
print(New_frame)

  Salary   Name Age EDU.LVL.
1   5000  Bucky  28       MS

In [64]:



## Arithmetic operations

data1=DataFrame({"Speed":[100,103,105]
,"Temp":[34,23,55]
})

data2=DataFrame({"Speed":[111,200,85]
,"Temp":[55,53,5],
"Humidity":[45,55,99]
})
Seris=Series([1,2,3])
Seris1=Series([1,2,3],index=["Speed","Humidity","Temp"])


print(data1+data2)
print(data1**2)
print(data1+2)
print(data1%3)
print(data1**data2)
print(Seris*data1)
print(Seris1*data1)
print(Seris1+data1)
print(Seris1+data2)

   Humidity  Speed  Temp
0       NaN    211    89
1       NaN    303    76
2       NaN    190    60
   Speed  Temp
0  10000  1156
1  10609   529
2  11025  3025
   Speed  Temp
0    102    36
1    105    25
2    107    57
   Speed  Temp
0      1     1
1      1     2
2      0     1
   Humidity                Speed                 Temp
0       NaN                    0  4071254063142928384
1       NaN  1207163699033777601  2688227151811855479
2       NaN  6147008343355840265            503284375
   Speed  Temp   0   1   2
0    NaN   NaN NaN NaN NaN
1    NaN   NaN NaN NaN NaN
2    NaN   NaN NaN NaN NaN
   Humidity  Speed  Temp
0       NaN    100   102
1       NaN    103    69
2       NaN    105   165
   Humidity  Speed  Temp
0       NaN    101    37
1       NaN    104    26
2       NaN    106    58
   Humidity  Speed  Temp
0        47    112    58
1        57    201    56
2       101     86     8

In [65]:

##sorting
print(data1.sort_index())
print(data1.sort_values("Temp"))
print(data1.sort_values(by="Speed"))
print(data1.sort_index(axis=1))

   Speed  Temp
0    100    34
1    103    23
2    105    55
   Speed  Temp
1    103    23
0    100    34
2    105    55
   Speed  Temp
0    100    34
1    103    23
2    105    55
   Speed  Temp
0    100    34
1    103    23
2    105    55

In [66]:

# maj math
print(data1,spacer)
print(data1.sum(axis=1))
print(data2.max())
print(data2.idxmax())

   Speed  Temp
0    100    34
1    103    23
2    105    55
-----------------------------

0    134
1    126
2    160
dtype: int64
Humidity     99
Speed       200
Temp         55
dtype: int64
Humidity    2
Speed       1
Temp        0
dtype: int64

In [67]:


# np.nan droping
data1=DataFrame({"Speed":[100,np.nan,105]
,"Temp":[34,np.nan,55]
})

data2=DataFrame({"Speed":[111,200,85]
,"Temp":[55,53,5],
"Humidity":[45,55,99]
})

print(data1)
print(data1.dropna())

data1=DataFrame({"Speed":[100,np.nan,105]
,"Temp":[34,np.nan,55]
})

print(data1.fillna(100))

   Speed  Temp
0  100.0  34.0
1    NaN   NaN
2  105.0  55.0
   Speed  Temp
0  100.0  34.0
2  105.0  55.0
   Speed   Temp
0  100.0   34.0
1  100.0  100.0
2  105.0   55.0

<h1>Series</h1>

In [69]:
# init
from pandas import Series
se= Series([1,2,3,4,5,6])

In [72]:
print(se,se[0],se[3],)

s2=Series([100,110,120,130],index=[0,1,2,5])
print(s2)
s2=Series([100,110,120,130],index=[0,"a",2,5])
print(s2,s2[0],s2["a"],sep = "\n")

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64 1 4
0    100
1    110
2    120
5    130
dtype: int64
0    100
a    110
2    120
5    130
dtype: int64
100
110

In [73]:

salaries ={"Albert":81000,"Mat":8000,"Bill":83213000,"Carry":7000}

NewSalaries=Series(salaries)

print(NewSalaries)

Albert       81000
Bill      83213000
Carry         7000
Mat           8000
dtype: int64

In [74]:
S= Series(data=[100,200,300,400,500,600], index=["a","b","c","d","e","f"])
print(S)

S=S.reindex(["f","a","b","c","d","e"])
print(S)

a    100
b    200
c    300
d    400
e    500
f    600
dtype: int64
f    600
a    100
b    200
c    300
d    400
e    500
dtype: int64

In [76]:

sAlpha=Series(data=[1,2,3,4,5,6,7])
sBeta=Series(data=[2,3,4,5,6,7])

print(sAlpha+sAlpha)
print(sBeta+sAlpha)
print(sAlpha*sAlpha)
print(sAlpha**2)
print(sAlpha*2)
print(sAlpha-2)
print(sAlpha%3)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
dtype: int64
0     3.0
1     5.0
2     7.0
3     9.0
4    11.0
5    13.0
6     NaN
dtype: float64
0     1
1     4
2     9
3    16
4    25
5    36
6    49
dtype: int64
0     1
1     4
2     9
3    16
4    25
5    36
6    49
dtype: int64
0     2
1     4
2     6
3     8
4    10
5    12
6    14
dtype: int64
0   -1
1    0
2    1
3    2
4    3
5    4
6    5
dtype: int64
0    1
1    2
2    0
3    1
4    2
5    0
6    1
dtype: int64

In [75]:
##sorting

ser=Series([3,4,59,8,7,55,6,-2],index=[1,5,9,87,6,5,4,2])
print(ser)
print(ser.sort_index())
print(ser.sort_values())

Sap=Series(data=[100,110,100,155,100,55,68],index=["a","b","c","d","d","e","u"])

print(Sap.index.is_unique)
print(Sap.sum())

1      3
5      4
9     59
87     8
6      7
5     55
4      6
2     -2
dtype: int64
1      3
2     -2
4      6
5      4
5     55
6      7
9     59
87     8
dtype: int64
2     -2
1      3
5      4
4      6
6      7
87     8
5     55
9     59
dtype: int64
False
688

In [77]:

## Nan

res=Series(data=[1,2,3,4,5,6,7,np.nan], index=["a","b","c","d","e","f","g","h"])

print(res)
print(res.dropna())

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    7.0
h    NaN
dtype: float64
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    7.0
dtype: float64